body {
  text-align: center;
}

button {
  text-align: left;
  padding: 20px;
  font-size: 20px;
  margin-top: 60px;
  border-radius: 10px;
  color: black;
  background-color: white;
  font-family: "manrope", sans-serif;
}

button:hover {
  padding: 20px;
  font-size: 20px;
  margin-top: 60px;
  border-radius: 10px;
  color: white;
  background-color: #10644d;
  cursor: pointer;
}

#smoothie {
  text-align: center;
  font-family: sans-serif;
  margin-top: 40px;
  font-size: 18px;
}

p {
  font-family: "manrope", sans-serif;
  font-size: 16px;
  text-align: center;
}

h1 {
  font-family: sans-serif;
  margin-top: 80px;
  font-size: 50px;
  font-weight: 300;
}

footer {
  font-family: "manrope", sans-serif;
  font-size: 10px;
  color: lightgrey;
}

li {
  list-style: none;
  color: black;
  text-align: center;
}
