body {
  background-image: linear-gradient(
    to right top,
    #eeeff0,
    #f1f2f3,
    #f5f5f6,
    #f8f8f8,
    #fbfbfb
  );
  height: 900px;
}

button {
  margin: 0 auto;
  display: block;
  text-align: center;
  padding: 20px;
  font-size: 20px;
  margin-top: 100px;
  border-radius: 10px;
  color: black;
  background-color: white;
  font-family: "manrope", sans-serif;
}

button:hover {
  margin: 0 auto;
  display: block;
  text-align: center;
  padding: 20px;
  font-size: 20px;
  margin-top: 100px;
  border-radius: 10px;
  color: black;
  background-color: pink;
}

#joke {
  text-align: center;
  font-family: sans-serif;
  margin-top: 40px;
  font-size: 18px;
}
